
{% extends "base.html" %}

{% block content %}

    <h4>{{object}} details</h4>

    {{object.first_name}} {{object.last_name}}
    <div>Age : {{object.age}}</div>
    <div>This lead is handled by {{object.agent}}</div>
    <hr>
    {% if request.user.is_organizer %}
    <div>    
        <p>
            <a href="{% url 'leads:lead-update' object.pk %}">
            Click here to update lead details
            </a>
        </p>
        <p>
            <a href="{% url 'leads:lead-delete' object.pk %}">Click here to delete all records of {{object}}</a>
        </p>
    {% endif %}
    <p>
        <a href="{% url 'leads:lead-list' %}">Go Back</a>
    </p>

    </div>

{% endblock content %}

