
{% extends "base.html" %}

{% load tailwind_filters %}

{% block content %}

<div class = "max-w-lg mx-auto">
    <h1 class = "text-4xl pb-6">Agent Creation Form</h1>

    <form action="." method = "POST"> 
        {% csrf_token %}
        {{form|crispy}}
        <input class = "w-full text-white bg-blue-500 hover:bg-blue-600 py-1 rounded-md" type="Submit" id="">
    </form>
    <p class = "mt-5 py-2 border-t border-black-600">
        <a href="{% url 'agents:agent-list' %}">Go Back</a>
    </p>
</div>


{% endblock content %}
