
{% extends "base.html" %}

{% block content %}

    <h4>Agent details</h4>

    {{object.user.username}}
    <div>This agent is affliated to <strong>{{object.organisation}}</strong></div>
    <hr>
    <p>
        <a href="{% url 'agents:agent-update' object.pk %}">
        Click here to update agent details
        </a>
    </p>
    <p>
        <a href="{% url 'agents:agent-delete' object.pk %}">Click here to delete all records of {{object}}</a>
    </p>
    <p>
        <a href="{% url 'agents:agent-list' %}">Go Back</a>
    </p>
    <div>


        
        <section class="text-gray-600 body-font">
            <div class="container px-5 py-10 mx-auto">
                <div class="flex flex-col text-center w-full mb-10">
                    <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-gray-900">Leads</h1>
                </div>
                <div class="lg:w-2/3 w-full mx-auto overflow-auto">
                    <table class="table-auto w-full text-left whitespace-no-wrap">
                        <thead>
                            <tr>
                                <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tl rounded-bl">Lead</th>
                                <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Age</th>
                            </tr>
                        </thead>
                        
                        <tbody>
                        {% for lead in agent_leads %}
                      <tr>
                        <td class="px-4 py-3"><a href="{% url 'leads:lead-detail' lead.pk %}">{{lead}}</a></td>
                        <td class="px-4 py-3">{{lead.age}}</td>
                      </tr>
                      {% endfor %}
                      
                    </tbody>
                  </table>
                </div>
              </div>
            </section>
    </div>

{% endblock content %}